<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    
<title>GamePanti</title>
  <link href="{{ url_for('static', filename='img/favicon1.ico')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <style>
   h1 {text-align: center;color: white;}
p {text-align: center;color: white;}
h2 {text-align: center;color: white;} 
form{text-align: center;color: white;}


.btn{

  background-color: white; 
  color: black; 
  
  border-radius: 8px;
  font-size: 30px;
}


.btn:hover {
  background-color: dodgerblue;
  color: white;
}
  </style>
</head>
  <body style="background-color:black">
     <table width="100%">

        <tr style="background-color:darkblue;width:300%px;height:250">
            <td align="center" style="color:black;"><b>
                    <div class="container">
            <div class="jumbotron">
                <p style="color:white;"><font size="120"><font><h1>Tic Tac Toe</h1></font></p>
                <p style="color:white;font-size: 20px">Player 1 is X <br>Player 2 is O<br>Player 1 has first turn.</p>
                <center> <a href="/"><button class= "btn">Home</button></a></center>
            </div>
             </b></td>
        </tr>
        

        
        </table>
<table>
  <tr>
    <td><p>1</p></td>
    <td class="vert"><p>2</p></td>
    <td><p>3</p></td>
  </tr>
  <tr>
    <td class="hori"><p>4</p></td>
    <td class="vert hori"><p>5</p></td>
    <td class="hori"><p>6</p></td>
  </tr>
  <tr>
    <td><p>7</p></td>
    <td class="vert"><p>8</p></td>
    <td><p>9</p></td>
  </tr>
</table>
<div class="container">
  <div class="center">

    <form class="form-signin" action="/ttp" method="post" style="color: white;size: 50px;">
     
      <label for="uname" class="sr-only"> Enter position to place your symbol(1-9).</label>
      <input type="text" id="uname" name="uname" class="form-control" placeholder="Choice" required autofocus>
     
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

      
      
    </form>

 
  </div>
</div>
<br>
<br>
<br>
<br><br>



 <!--ye tum sahi krlo game me kya enter krna hai samajh nhi aa rha h mujhe ki har baar index submit krna h ya kuch or -->
    
      {% if o !="Wrong Choice" and o!="" %}
     <h2><font size="30" style="color:blue;">Result</font></h2>
      <p><font size="20">Computer's Choice : {{user}}</font></p>
      <p><font size="20">User's Choice : {{o}}</font></p>
      <p><font size="20"> {{res}}</font></p>
        
    {% endif %}
    {% if o =="Wrong Choice" and o!="" %}
      <h2><font size="20">Wrong Choice</font></h2>
      
        
    {% endif %}
    
    
    
  </body>
</html>